.main {
  background-color: $dark;

  &__featured {
    &__text {
      color: $white;
      font-family: $ff-normal;
      font-size: 0.6rem;
      font-weight: 800;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 5px;

      @include breakpoint-up(medium) {
        font-size: 0.8rem;
        margin-bottom: 0.625rem;
      }

      @include breakpoint-up(large) {
        font-size: 1rem;
      }

      @include breakpoint-up(xlarge) {
        font-size: 1.2rem;
      }
    }

    &__subtext {
      color: $white;
      font-family: $ff-stylist;
      font-size: 1.75rem;
      font-weight: 300;

      @include breakpoint-up(medium) {
        font-size: 2.25rem;
      }

      @include breakpoint-up(large) {
        font-size: 2.75rem;
      }

      @include breakpoint-up(xlarge) {
        font-size: 3.5rem;
      }

      strong {
        font-weight: 800;
        color: $primary;
      }
    }
  }

  &__content {
    flex-wrap: wrap;

    &__card {
      margin: 0 auto;
      margin-bottom: 2.25rem;
      position: relative;

      .card-poster {
        flex-direction: column;
        justify-content: flex-end;
        width: 250px;
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, transparent 20%, #000 80%);
        }

        .card-title {
          color: $light;
          font-size: 1.75rem;
          font-family: $ff-stylist;
          font-weight: 800;
          text-transform: uppercase;
          margin-bottom: 1.25rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .card-button {
        border: 1px solid $primary;
        width: 100%;
        color: $primary;
        font-size: 1rem;
        font-family: $ff-normal;
        font-weight: 400;
        background-color: $dark;
        letter-spacing: 3px;
        padding: 0.625rem 0;
        cursor: pointer;

        &::before {
          content: "buy";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: $dark;
          background-color: $primary;
          transition: all 0.3s ease;
        }

        &:hover {
          &::before {
            height: 100%;
            overflow: visible;
          }
        }
      }

      .card-title,
      .card-button {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.details-main {
  &__videoplayer {
    width: 100%;
    aspect-ratio: 12 / 6;
  }
}
